$light-blue: #7B0183;
$dark-bule: #550167;
$font-menu: #F2F5F6;
$active-color: #3FAD31;
$content-bg: #F2F5F6;
$dark-grey: #808080;
$light-grey: #d2cdcd;

body {
  margin: 0px;
  background-color: $light-blue;
  h1 {
    color: $light-grey;
  }
}



